.chat{
    display: flex;
    flex-direction: row;
    
}
.chat__email{
    color: blue;
    font-weight: bold;
}
.chat__texto{
    color: green;
    font-style: italic;
    margin-left: 10px;
}
.chat__fecha{
    color: brown;
}
.chatArea{
    overflow: scroll;
    height: 300px;
    width: 850px;
    margin-bottom: 50px;
    border-style: solid;
    border-color: black;
    border-width: 5px;
}
.productsList{
    overflow: scroll;
    height: 300px;
    margin-bottom: 50px;
}